# Dependency directories
node_modules/
.bash_sessions/
.expo/
.expo-shared/
expo-env.d.ts

# Expo-specific files
ios/
android/
web-build/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-error.log

# Mac system files
.DS_Store

# IDE and editor settings
.vscode/
.idea/

# Environment variables
.env*

# Miscellaneous
*.log
*.tgz
*.swp